@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: green;
    font-family: 'Comforter Brush', cursive;
}